In [11]:
import requests
import pandas as pd
import json

In [12]:
url = 'http://api.citybik.es/v2/networks' 
headers = {"Accept": "application/json"} 
ct_byk_result = requests.get(url, headers=headers).json()
ct_byk_result['networks'][0]

{'company': ['ЗАО «СитиБайк»'],
 'href': '/v2/networks/velobike-moscow',
 'id': 'velobike-moscow',
 'location': {'city': 'Moscow',
  'country': 'RU',
  'latitude': 55.75,
  'longitude': 37.616667},
 'name': 'Velobike'}

In [13]:
print(len(ct_byk_result['networks']))

# checking for countries details in the result
for i in range(614):
    ct_byk_result['networks'][i]['location']['country']

614

## Chose US

In [14]:
ct_byk = len(ct_byk_result['networks'])
ct_byk

# checking for country USA details in the result
us_ct_byk = []
for i in range(ct_byk):
    if ct_byk_result['networks'][i]['location']['country'] == "US":
         us_ct_byk.append(ct_byk_result['networks'][i])

print(len(us_ct_byk))
for i in range(52):
    print(us_ct_byk[i]['location']['city'])

52
Aspen, CO
Ann Arbor, MI
Austin, TX
Chattanooga, TN
Portland, OR
San Ramon, CA
Boise, ID
Boulder, CO
Santa Monica, CA
Fort Lauderdale, FL
Milwaukee, WI
Buffalo, NY
Washington, DC
Charlotte, NC
Cincinnati, OH
New York, NY
Tampa, FL
Columbus, OH
Denver, CO
Chicago, IL
El Paso, TX
Fort Worth, TX
Fargo, ND
Salt Lake City
Phoenix, AZ
Omaha, NE
Houston, TX
Boston, MA
Philadelphia, PA
Indianapolis, IN
Orlando, FL
Kansas City, MO
Dayton, OH
Madison, WI
Los Angeles, CA
Ketchum / Sun Valley, ID
Minneapolis, MN
San Antonio, TX
University of South Florida, FL
Long Beach, NY
Spartanburg, SC
Topeka, KS
University of Virginia, VA
Atlanta, GA
Miami Beach, FL
San Diego, CA
Des Moines, IA
Greenville, SC
Pittsburgh
San Francisco Bay Area, CA
Las Vegas, NV
Oklahoma, OK

## Chose city Boston, MA

In [15]:
ct_byk_boston = []
for i in range(52):
    if us_ct_byk[i]['location']['city'] == "Boston, MA":
        ct_byk_boston.append(us_ct_byk[i])
ct_byk_boston    
print(len(ct_byk_boston))

1

In [16]:
boston_byks = ct_byk_boston[0]['href']
url = f'https://api.citybik.es{boston_byks}'
boston_byk_stations = requests.get(url).json()['network']['stations']
print(len(boston_byk_stations))
boston_byk_stations[50]

386

{'empty_slots': 6,
 'extra': {'ebikes': 0,
  'has_ebikes': True,
  'last_updated': 1672884473,
  'payment': ['key', 'creditcard'],
  'payment-terminal': True,
  'renting': 1,
  'returning': 1,
  'slots': 53,
  'uid': '179'},
 'free_bikes': 46,
 'id': '943a5046e94d9462496182d9e38da371',
 'latitude': 42.355601213279265,
 'longitude': -71.10394477844238,
 'name': 'MIT Vassar St',
 'timestamp': '2023-01-05T02:32:27.261000Z'}

In [18]:
def boston_bykstations_name(station_name):
    boston_byk_stations = {'name': i['name'], 'latitude': i['latitude'],        'longitude' : i['longitude'], 
                          'id' : i['id'], 'free_bikes': i['free_bikes'], 'ebikes': i['extra']['ebikes'],
                          'normal_bikes': i['extra']['normal_bikes'],'slots': i['slots']}
                                                                                                                                                                                                                                                                                                        
BostonDF = pd.DataFrame(boston_byk_stations)
BostonDF['ll'] = BostonDF['latitude'].astype(str) + ' ' + BostonDF['longitude'].astype(str)
BostonDF.head(1)

,empty_slots,extra,free_bikes,id,latitude,longitude,name,timestamp,ll
0,2,"{'ebikes': 0, 'has_ebikes': True, 'last_update...",17,553ed0300d38108b4f21a6bafa3db70c,42.386781,-71.006098,Orient Heights T Stop - Bennington St at Sarat...,2023-01-05T02:32:27.407000Z,42.386781 -71.006098

# Parsed into the dataframe

In [21]:
BostonDF = pd.DataFrame(boston_byk_stations)
BostonDF.head(5)

,empty_slots,extra,free_bikes,id,latitude,longitude,name,timestamp
0,2,"{'ebikes': 0, 'has_ebikes': True, 'last_update...",17,553ed0300d38108b4f21a6bafa3db70c,42.386781,-71.006098,Orient Heights T Stop - Bennington St at Sarat...,2023-01-05T02:32:27.407000Z
1,21,"{'ebikes': 0, 'has_ebikes': True, 'last_update...",11,93542dcbf21f5411569adb92cd7cc199,42.368844,-71.039778,Maverick Square - Lewis Mall,2023-01-05T02:32:27.409000Z
2,2,"{'ebikes': 0, 'has_ebikes': True, 'last_update...",14,d9c7ef5dbda4ed944d1bf51fe540acb6,42.369536,-71.039431,East Boston Neighborhood Health Center - 20 Ma...,2023-01-05T02:32:27.410000Z
3,4,"{'ebikes': 0, 'has_ebikes': True, 'last_update...",11,0568389e659e679fbe29a5ac12cd49c0,42.383533,-71.016191,Bennington St at Byron St,2023-01-05T02:32:27.411000Z
4,6,"{'ebikes': 0, 'has_ebikes': True, 'last_update...",9,47b79abc28a54d0e4689b1096ceb8466,42.373312,-71.041020,Boston East - 126 Border St,2023-01-05T02:32:27.412000Z

# Test - Saving the file in th system and extracting lat and long from the desired city (Boston)

In [22]:
BostonDF.to_csv(f'/Users/kamininayyar/Github_old_pc/GitHub_frm_old_pc/BostonDF.csv', index = False)

In [23]:
ct_bks_df = pd.read_csv(f'/Users/kamininayyar/Github_old_pc/GitHub_frm_old_pc/BostonDF.csv')

In [24]:
lat = ct_bks_df['latitude']
long = ct_bks_df['longitude']
print(f'{lat[10]},{long[10]}')

42.341332,-71.076847